CompileFlags:
  Add:
    - -I/C:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/13.2.0/include
    - -I/C:/msys64/ucrt64/include
    - -I/C:/msys64/ucrt64/include/c++/13.2.0
    - -I/C:/msys64/ucrt64/include/c++/13.2.0/x86_64-w64-mingw32
    - -I/C:/msys64/ucrt64/include/c++/13.2.0/backward
    - -I/C:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/13.2.0/include-fixed
    - -std=c++20
    - -Wall
    - -O2
    - -fstack-protector-strong

